* {
  box-sizing: border-box;
}
header {
  border: 2px solid black;
  max-width: 300px;
  text-align: center;
  font-size: 25px;
}
.box {
  border: 2px solid black;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}
.card {
  border: 2px solid black;
  width: 180px;
  margin: auto;
}
button {
}
footer {
}
