.createQuestion {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto 20px;
  gap: 0.5rem;
}

.buttonSubmit {
  width: 100px;
  margin-top: 10px;
  margin-left: 100px;
}

textarea {
  resize: vertical;
}
